.buildingHeader {
    .buildingName {
        h2 {
            margin: 0;
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
    }
    .buildingArea {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}