@import "../../../../styles/util.module";


.innerHeader {
    grid-area: inner-header;
    //justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;

    display: grid;

    @include mobile {
        row-gap: 0.5rem;
        grid-template-columns:auto 1fr;
        grid-template-areas: "mode-select resource-button" "date date" "order order";
        //display: none;
    }
    @include tablet {
        row-gap: 0.5rem;
        grid-template-columns:auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "mode-select resource-button" "resource-button date";
        //display: none;
    }
    @include desktop {
        row-gap: 0rem;
        grid-template-columns:auto auto 1fr auto auto;
        grid-template-rows: auto;
        grid-template-areas: "resource-button date mode-select-time mode-select order";
        //display: none;
    }
    .orderButton {
        grid-area: order;
    }
    .datePicker {
        grid-area: date;
        width: min-content;
        @include mobile {
            width: unset;
        }
    }


    .mobileResourcesButton, .expandCollapseButton {
        grid-area: resource-button;
    }
    .modeSelectTime {
        display: flex;
        justify-content: flex-end;
        grid-area: mode-select-time;
        @include mobile {
            //flex-direction: column;
            display: none;
        }
    }
    .modeSelect {
        grid-area: mode-select;
        .modeTitle {
            @include mobile {
                //flex-direction: column;
                display: none;
            }
        }

    }
}

.flexBox {
    display: flex;
    flex-direction: row;
    gap:0.5rem;

}



.datePicker {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;
}

.mobileResourcesButton {
    grid-area: resource-button;

    @include tablet {
        display: none;
    }
}

.expandCollapseButton {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    @include mobile {
        display: none;
    }
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    width: 300px;


    &.open {
        transform: rotate(0deg);
        border-bottom: 0;

    }


    //&.open {
    //    margin-left: -0.875rem;
    //}
    //background-color: green!important;

    .expandCollapseIcon {
        transition: 300ms;
        transform: rotate(180deg);


        &.open {
            transform: rotate(0deg);
        }
    }
}
