@import "../../../../styles/util.module";

.datePicker {
    background-color: white;
    border-radius: 5rem;
    .datePickerButton {
        justify-content: start;
        display: flex;

        @include tablet {
            min-width: 10rem;

        }
    }
}