@import "../../../../styles/util.module";
.customHeader {
    grid-area: header;
    display: flex;
    align-items: center;
    //flex-direction: row-reverse;
    gap: 0.75rem;

    .modeSelect {
        @include mobile {
            display: none
        }
    }
    @include mobile {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }
}
