@import "../../../../styles/util.module";


.innerHeader {
    grid-area: inner-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.5rem;
    @include mobile {
        display: none;
    }
}

.flexBox {
    display: flex;
    flex-direction: row;
    gap:0.5rem;

}



.datePicker {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.expandCollapseButton {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    width: 300px;

    border: 1px solid #eee;

    &.open {
        transform: rotate(0deg);
        border-bottom: 0;

    }
    //&.open {
    //    margin-left: -0.875rem;
    //}
    //background-color: green!important;

    .expandCollapseIcon {
        transition: 300ms;
        transform: rotate(180deg);


        &.open {
            transform: rotate(0deg);
        }
    }
}
