@mixin tablet {
    @include breakpoint($medium-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @include breakpoint($large-breakpoint) {
        @content;
    }
}

@mixin mobile {
    @include underBreakpoint($small-breakpoint) {
        @content;
    }
}

@mixin breakpoint($point) {
    @media (min-width: $point) {
        @content;
    }
}

@mixin underBreakpoint($point) {
    @media (max-width: $point) {
        @content;
    }
}

$large-breakpoint: 1200px; // over
$medium-breakpoint: 601px; // over
$small-breakpoint: 600px; // under




