/config/database.php
/config/config.php
/config/header.inc.php
/vendor/*
/logs/*
/nbproject/*
/nbproject/private/
/composer.lock
/.vscode/launch.json
/src/modules/bookingfrontend/js/bookingfrontend_2/node_modules/*
compose.yml
Dockerfile.local

/public