/config/database.php
/config/config.php
/config/header.inc.php
/vendor/*
/logs/*
/nbproject/*
/nbproject/private/
/composer.lock
/.vscode/launch.json
/src/modules/bookingfrontend/js/bookingfrontend_2/node_modules/*
compose.yml
Dockerfile.local
/oracle/instantclient-basic-linux.x64-12.2.0.1.0.zip
/oracle/instantclient-sdk-linux.x64-12.2.0.1.0.zip
/public
.idea
*.local
structure.txt