@import '../../../styles/util.module';

.footerContainer{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .footerContent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;

        }
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    //&-border-top {
        border-top: 1px solid #89266a;
        width: 100%;
    //}\
    .footerLogoContainer {
        display: flex;
        //justify-content: center;
        .footerLogo {
            height: fit-content;
            max-width: 180px;
        }
    }
}