.footerContainer{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    //&-border-top {
        border-top: 1px solid #89266a;
        width: 100%;
    //}\
    .footerLogoContainer {
        display: flex;
        //justify-content: center;
        .footerLogo {
            height: fit-content;
            max-width: 180px;
        }
    }
}