$days-height: 3em;
//$time-width: 3em;
$time-height: 1.5em;
$grid-color: #dadce0;
$current-time-color: #ea4335;

:root {
  --day-width: 1fr;
  //--time-width: 3em;
  --calendar-rows: 1;
  --header-height: 110px;
  --day-columns: 12;

  @media all and (max-width: 480px) {
    //--time-width: 2em;
    --header-height: 130px;
  }
}

.fc {

  //width: 100%;
  //height: 100%;
  .fc-header-toolbar {
    //display: flex;
    //flex-direction: column;
    //gap: 8px;
    //margin-top: 10px;

    .fc-toolbar-chunk {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .fc-toolbar-title {
      font-size: 1.5rem;
    }

    .fc-button {
      border-radius: 5px;
      padding: 5px 10px;
      background-color: #217346;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #1a5b34;
      }
    }

    .fc-prev-button, .fc-next-button {
      background-color: #999EC1;
    }
  }

  .fc-view-harness {
    .fc-view {
      border: 1px solid $grid-color;
      border-radius: 20px;
      box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);

      .fc-daygrid-day {
        background-color: #F5F5F5;
        border-right: 1px solid $grid-color;

        &:last-child {
          border-right: none;
        }

        &.fc-day-today {
          //background-color: $current-time-color;
          font-weight: bold;
        }
      }

      .fc-timegrid-slot {
        height: $time-height;
        //border-bottom: 1px solid $grid-color;
      }

      .fc-timegrid-col {
        border-right: 1px solid $grid-color;

        &.fc-day-today {
          //background-color: $current-time-color;
          font-weight: bold;
        }
      }
    }
  }

  .fc-event {
    //border-radius: 0px;
    padding: 5px;
    font-weight: normal;
    font-size: 1rem;
    //border: 1px solid #FFF;
  }
}

