@import "../styles/spacing.module";
@import "../components/building-calendar/building-calender.global";
@import "../styles/colors";
@import "../styles/effects/effects";
@import "../styles/typography";
@import "../styles/link/link";
@import "../styles/bs-containers/container.global";
@import "../styles/hr.module";


body {
    margin: 0;
}

:root {
    background-color: var(--ds-color-neutral-background-default);

}


.ds-button {
    &--tertiary, &--secondary {
        &:not(:hover):not(:active):not(.default) {
            background-color: $white;
        }
    }
    &[data-size='xs'] {
        --dsc-button-gap: var(--ds-sizing-1);
        --dsc-button-padding-block: var(--ds-spacing-1);
        --dsc-button-padding-inline: var(--ds-spacing-1);
        --dsc-button-size: var(--ds-sizing-8);
        font-size: var(--ds-body-short-sm-font-size);
        font-weight: var(--ds-body-short-sm-font-weight);
        letter-spacing: var(--ds-body-short-sm-letter-spacing);
        line-height: var(--ds-body-short-sm-line-height);
    }
}

.ds-details {
    border-radius: 0;
    user-select: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: var(--dsc-details-border);
    background-color: inherit;
    u-summary {
        border-radius: 0;
    }
    u-summary:not([aria-expanded="true"]) {
        background-color: inherit;
    }
    >*:not(u-summary) {
        background-color: white;
    }
}

.fc-event-main {
    display: flex;
}

.captialize {
    text-transform: capitalize;
}

.pswp img {
    max-width: none;
    object-fit: contain;
}

/*:root {*/
/*  --max-width: 1100px;*/
/*  --border-radius: 12px;*/
/*  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",*/
/*    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",*/
/*    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;*/

/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/

/*  --primary-glow: conic-gradient(*/
/*    from 180deg at 50% 50%,*/
/*    #16abff33 0deg,*/
/*    #0885ff33 55deg,*/
/*    #54d6ff33 120deg,*/
/*    #0071ff33 160deg,*/
/*    transparent 360deg*/
/*  );*/
/*  --secondary-glow: radial-gradient(*/
/*    rgba(255, 255, 255, 1),*/
/*    rgba(255, 255, 255, 0)*/
/*  );*/

/*  --tile-start-rgb: 239, 245, 249;*/
/*  --tile-end-rgb: 228, 232, 233;*/
/*  --tile-border: conic-gradient(*/
/*    #00000080,*/
/*    #00000040,*/
/*    #00000030,*/
/*    #00000020,*/
/*    #00000010,*/
/*    #00000010,*/
/*    #00000080*/
/*  );*/

/*  --callout-rgb: 238, 240, 241;*/
/*  --callout-border-rgb: 172, 175, 176;*/
/*  --card-rgb: 180, 185, 188;*/
/*  --card-border-rgb: 131, 134, 135;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/

/*    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));*/
/*    --secondary-glow: linear-gradient(*/
/*      to bottom right,*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0.3)*/
/*    );*/

/*    --tile-start-rgb: 2, 13, 46;*/
/*    --tile-end-rgb: 2, 5, 19;*/
/*    --tile-border: conic-gradient(*/
/*      #ffffff80,*/
/*      #ffffff40,*/
/*      #ffffff30,*/
/*      #ffffff20,*/
/*      #ffffff10,*/
/*      #ffffff10,*/
/*      #ffffff80*/
/*    );*/

/*    --callout-rgb: 20, 20, 20;*/
/*    --callout-border-rgb: 108, 108, 108;*/
/*    --card-rgb: 100, 100, 100;*/
/*    --card-border-rgb: 200, 200, 200;*/
/*  }*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*}*/

/*html,*/
/*body {*/
/*  max-width: 100vw;*/
/*  overflow-x: hidden;*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

/*a {*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*}*/

.list-unstyled {
    padding-left: 0;
    list-style: none;
}


.react-datepicker-popper {
    z-index: 102 !important;
}


.ds-table, .gs-table {
    --dsc-table-background: $grey-light-64;
    --dsc-table-header-background: $grey-light-64;
}

.ds-badge[data-placement="top-right"]::before {
    right: -3px;
    top: -3px;
    translate: 50% -50%;
}

:root/*, [data-ds-theme="light"]*/ {
    //--ds-color-accent-1: #fefdfe;
    //--ds-color-accent-2: #f6f2f7;
    //--ds-color-accent-3: #e9dfec;
    //--ds-color-accent-4: #dccce1;
    //--ds-color-accent-5: #d0bad6;
    //--ds-color-accent-6: #cbb4d2;
    //--ds-color-accent-7: #9c6ea8;
    //--ds-color-accent-8: #834b93;
    //--ds-color-accent-9: #793c8a;
    //--ds-color-accent-10: #5e2f6c;
    //--ds-color-accent-11: #46224f;
    //--ds-color-accent-12: #834b93;
    //--ds-color-accent-13: #3f1f48;
    //--ds-color-accent-contrast-1: #ffffff;
    //--ds-color-accent-contrast-2: #f6f2f7;
    //--ds-color-accent-background-default: var(--ds-color-accent-1);
    //--ds-color-accent-background-subtle: var(--ds-color-accent-2);
    //--ds-color-accent-surface-default: var(--ds-color-accent-3);
    //--ds-color-accent-surface-hover: var(--ds-color-accent-4);
    //--ds-color-accent-surface-active: var(--ds-color-accent-5);
    //--ds-color-accent-border-subtle: var(--ds-color-accent-6);
    //--ds-color-accent-border-default: var(--ds-color-accent-7);
    //--ds-color-accent-border-strong: var(--ds-color-accent-8);
    //--ds-color-accent-base-default: var(--ds-color-accent-9);
    //--ds-color-accent-base-hover: var(--ds-color-accent-10);
    //--ds-color-accent-base-active: var(--ds-color-accent-11);
    //--ds-color-accent-text-subtle: var(--ds-color-accent-12);
    //--ds-color-accent-text-default: var(--ds-color-accent-13);
    //--ds-color-accent-contrast-default: var(--ds-color-accent-contrast-1);
    //--ds-color-accent-contrast-subtle: var(--ds-color-accent-contrast-2);
    //--ds-color-neutral-1: #fefefe;
    //--ds-color-neutral-2: #f2f2f2;
    //--ds-color-neutral-3: #e2e2e2;
    //--ds-color-neutral-4: #d1d1d1;
    //--ds-color-neutral-5: #c1c1c1;
    //--ds-color-neutral-6: #bbbbbb;
    //--ds-color-neutral-7: #7f7f7f;
    //--ds-color-neutral-8: #616161;
    //--ds-color-neutral-9: #4D4D4D;
    //--ds-color-neutral-10: #3b3b3b;
    //--ds-color-neutral-11: #292929;
    //--ds-color-neutral-12: #616161;
    //--ds-color-neutral-13: $black;
    //--ds-color-neutral-contrast-1: #ffffff;
    //--ds-color-neutral-contrast-2: #e9e9e9;
    //--ds-color-neutral-background-default: var(--ds-color-neutral-1);
    //--ds-color-neutral-background-subtle: var(--ds-color-neutral-2);
    //--ds-color-neutral-surface-default: var(--ds-color-neutral-3);
    //--ds-color-neutral-surface-hover: var(--ds-color-neutral-4);
    //--ds-color-neutral-surface-active: var(--ds-color-neutral-5);
    //--ds-color-neutral-border-subtle: var(--ds-color-neutral-6);
    //--ds-color-neutral-border-default: var(--ds-color-neutral-7);
    //--ds-color-neutral-border-strong: var(--ds-color-neutral-8);
    //--ds-color-neutral-base-default: var(--ds-color-neutral-9);
    //--ds-color-neutral-base-hover: var(--ds-color-neutral-10);
    //--ds-color-neutral-base-active: var(--ds-color-neutral-11);
    //--ds-color-neutral-text-subtle: var(--ds-color-neutral-12);
    //--ds-color-neutral-text-default: var(--ds-color-neutral-13);
    //--ds-color-neutral-contrast-default: var(--ds-color-neutral-contrast-1);
    //--ds-color-neutral-contrast-subtle: var(--ds-color-neutral-contrast-2);
    //--ds-color-brand1-1: #fefefe;
    //--ds-color-brand1-2: #f3f3f8;
    //--ds-color-brand1-3: #e0e2ee;
    //--ds-color-brand1-4: #cdd0e4;
    //--ds-color-brand1-5: #bbbfda;
    //--ds-color-brand1-6: #b6bad8;
    //--ds-color-brand1-7: #727ab3;
    //--ds-color-brand1-8: #515ca1;
    //--ds-color-brand1-9: #28358b;
    //--ds-color-brand1-10: #3e4a97;
    //--ds-color-brand1-11: #545fa3;
    //--ds-color-brand1-12: #515ca1;
    //--ds-color-brand1-13: #1c2662;
    //--ds-color-brand1-contrast-1: #ffffff;
    //--ds-color-brand1-contrast-2: #d4d6e8;
    //--ds-color-brand1-background-default: var(--ds-color-brand1-1);
    //--ds-color-brand1-background-subtle: var(--ds-color-brand1-2);
    //--ds-color-brand1-surface-default: var(--ds-color-brand1-3);
    //--ds-color-brand1-surface-hover: var(--ds-color-brand1-4);
    //--ds-color-brand1-surface-active: var(--ds-color-brand1-5);
    //--ds-color-brand1-border-subtle: var(--ds-color-brand1-6);
    //--ds-color-brand1-border-default: var(--ds-color-brand1-7);
    //--ds-color-brand1-border-strong: var(--ds-color-brand1-8);
    //--ds-color-brand1-base-default: var(--ds-color-brand1-9);
    //--ds-color-brand1-base-hover: var(--ds-color-brand1-10);
    //--ds-color-brand1-base-active: var(--ds-color-brand1-11);
    //--ds-color-brand1-text-subtle: var(--ds-color-brand1-12);
    //--ds-color-brand1-text-default: var(--ds-color-brand1-13);
    //--ds-color-brand1-contrast-default: var(--ds-color-brand1-contrast-1);
    //--ds-color-brand1-contrast-subtle: var(--ds-color-brand1-contrast-2);
    //--ds-color-brand2-1: #fefefe;
    //--ds-color-brand2-2: #eff3f7;
    //--ds-color-brand2-3: #dae4ee;
    //--ds-color-brand2-4: #c3d3e3;
    //--ds-color-brand2-5: #aec4d9;
    //--ds-color-brand2-6: #a6bed5;
    //--ds-color-brand2-7: #5382af;
    //--ds-color-brand2-8: #3c648a;
    //--ds-color-brand2-9: #4a7cab;
    //--ds-color-brand2-10: #6690b8;
    //--ds-color-brand2-11: #83a5c6;
    //--ds-color-brand2-12: #3c648a;
    //--ds-color-brand2-13: #1b2d3f;
    //--ds-color-brand2-contrast-1: #000000;
    //--ds-color-brand2-contrast-2: #010203;
    //--ds-color-brand2-background-default: var(--ds-color-brand2-1);
    //--ds-color-brand2-background-subtle: var(--ds-color-brand2-2);
    //--ds-color-brand2-surface-default: var(--ds-color-brand2-3);
    //--ds-color-brand2-surface-hover: var(--ds-color-brand2-4);
    //--ds-color-brand2-surface-active: var(--ds-color-brand2-5);
    //--ds-color-brand2-border-subtle: var(--ds-color-brand2-6);
    //--ds-color-brand2-border-default: var(--ds-color-brand2-7);
    //--ds-color-brand2-border-strong: var(--ds-color-brand2-8);
    //--ds-color-brand2-base-default: var(--ds-color-brand2-9);
    //--ds-color-brand2-base-hover: var(--ds-color-brand2-10);
    //--ds-color-brand2-base-active: var(--ds-color-brand2-11);
    //--ds-color-brand2-text-subtle: var(--ds-color-brand2-12);
    //--ds-color-brand2-text-default: var(--ds-color-brand2-13);
    //--ds-color-brand2-contrast-default: var(--ds-color-brand2-contrast-1);
    //--ds-color-brand2-contrast-subtle: var(--ds-color-brand2-contrast-2);
    //--ds-color-brand3-1: #fefdfe;
    //--ds-color-brand3-2: #f6f0f7;
    //--ds-color-brand3-3: #ebdeec;
    //--ds-color-brand3-4: #dfcbe1;
    //--ds-color-brand3-5: #d4b8d6;
    //--ds-color-brand3-6: #d1b2d3;
    //--ds-color-brand3-7: #a56aa9;
    //--ds-color-brand3-8: #814e85;
    //--ds-color-brand3-9: #a061a4;
    //--ds-color-brand3-10: #af7ab2;
    //--ds-color-brand3-11: #be93c1;
    //--ds-color-brand3-12: #814e85;
    //--ds-color-brand3-13: #3b233c;
    //--ds-color-brand3-contrast-1: #000000;
    //--ds-color-brand3-contrast-2: #020102;
    //--ds-color-brand3-background-default: var(--ds-color-brand3-1);
    //--ds-color-brand3-background-subtle: var(--ds-color-brand3-2);
    //--ds-color-brand3-surface-default: var(--ds-color-brand3-3);
    //--ds-color-brand3-surface-hover: var(--ds-color-brand3-4);
    //--ds-color-brand3-surface-active: var(--ds-color-brand3-5);
    //--ds-color-brand3-border-subtle: var(--ds-color-brand3-6);
    //--ds-color-brand3-border-default: var(--ds-color-brand3-7);
    //--ds-color-brand3-border-strong: var(--ds-color-brand3-8);
    //--ds-color-brand3-base-default: var(--ds-color-brand3-9);
    //--ds-color-brand3-base-hover: var(--ds-color-brand3-10);
    //--ds-color-brand3-base-active: var(--ds-color-brand3-11);
    //--ds-color-brand3-text-subtle: var(--ds-color-brand3-12);
    //--ds-color-brand3-text-default: var(--ds-color-brand3-13);
    //--ds-color-brand3-contrast-default: var(--ds-color-brand3-contrast-1);
    //--ds-color-brand3-contrast-subtle: var(--ds-color-brand3-contrast-2);
    //--ds-color-success-background-default: var(--ds-global-green-1);
    //--ds-color-success-background-subtle: var(--ds-global-green-2);
    //--ds-color-success-surface-default: var(--ds-global-green-3);
    //--ds-color-success-surface-hover: var(--ds-global-green-4);
    //--ds-color-success-surface-active: var(--ds-global-green-5);
    //--ds-color-success-border-subtle: var(--ds-global-green-6);
    //--ds-color-success-border-default: var(--ds-global-green-7);
    //--ds-color-success-border-strong: var(--ds-global-green-8);
    //--ds-color-success-base-default: var(--ds-global-green-9);
    //--ds-color-success-base-hover: var(--ds-global-green-10);
    //--ds-color-success-base-active: var(--ds-global-green-11);
    //--ds-color-success-text-subtle: var(--ds-global-green-12);
    //--ds-color-success-text-default: var(--ds-global-green-13);
    //--ds-color-success-contrast-default: var(--ds-global-green-contrast-1);
    //--ds-color-success-contrast-subtle: var(--ds-global-green-contrast-2);
    //--ds-color-danger-background-default: var(--ds-global-red-1);
    //--ds-color-danger-background-subtle: var(--ds-global-red-2);
    //--ds-color-danger-surface-default: var(--ds-global-red-3);
    //--ds-color-danger-surface-hover: var(--ds-global-red-4);
    //--ds-color-danger-surface-active: var(--ds-global-red-5);
    //--ds-color-danger-border-subtle: var(--ds-global-red-6);
    //--ds-color-danger-border-default: var(--ds-global-red-7);
    //--ds-color-danger-border-strong: var(--ds-global-red-8);
    //--ds-color-danger-base-default: var(--ds-global-red-9);
    //--ds-color-danger-base-hover: var(--ds-global-red-10);
    //--ds-color-danger-base-active: var(--ds-global-red-11);
    //--ds-color-danger-text-subtle: var(--ds-global-red-12);
    //--ds-color-danger-text-default: var(--ds-global-red-13);
    //--ds-color-danger-contrast-default: var(--ds-global-red-contrast-1);
    //--ds-color-danger-contrast-subtle: var(--ds-global-red-contrast-2);
    //--ds-color-info-background-default: #fefeff;
    //--ds-color-info-background-subtle: #edf5fa;
    //--ds-color-info-surface-default: #d3e5f4;
    //--ds-color-info-surface-hover: #b7d5ed;
    //--ds-color-info-surface-active: #9bc5e5;
    //--ds-color-info-border-subtle: #94c1e3;
    //--ds-color-info-border-default: #2a84c8;
    //--ds-color-info-border-strong: #0963a8;
    //--ds-color-info-base-default: #0A71C0;
    //--ds-color-info-base-hover: #085e9f;
    //--ds-color-info-base-active: #074a7f;
    //--ds-color-info-text-subtle: #0963a8;
    //--ds-color-info-text-default: #042d4d;
    //--ds-color-info-contrast-default: #ffffff;
    //--ds-color-info-contrast-subtle: #edf5fa;
    //--ds-color-warning-background-default: var(--ds-global-yellow-1);
    //--ds-color-warning-background-subtle: var(--ds-global-yellow-2);
    //--ds-color-warning-surface-default: var(--ds-global-yellow-3);
    //--ds-color-warning-surface-hover: var(--ds-global-yellow-4);
    //--ds-color-warning-surface-active: var(--ds-global-yellow-5);
    //--ds-color-warning-border-subtle: var(--ds-global-yellow-6);
    //--ds-color-warning-border-default: var(--ds-global-yellow-7);
    //--ds-color-warning-border-strong: var(--ds-global-yellow-8);
    //--ds-color-warning-base-default: var(--ds-global-orange-9);
    //--ds-color-warning-base-hover: var(--ds-global-orange-10);
    //--ds-color-warning-base-active: var(--ds-global-orange-11);
    //--ds-color-warning-text-subtle: var(--ds-global-orange-12);
    //--ds-color-warning-text-default: var(--ds-global-orange-13);
    //--ds-color-warning-contrast-default: var(--ds-global-orange-contrast-1);
    //--ds-color-warning-contrast-subtle: var(--ds-global-orange-contrast-2);
    //--ds-color-focus-inner: #fefefe;
    //--ds-color-focus-outer: #3f1f48;
    //--ds-color-main-background-default: #fefdfe;
    //--ds-color-main-background-subtle: #f6f2f7;
    //--ds-color-main-surface-default: #e9dfec;
    //--ds-color-main-surface-hover: #dccce1;
    //--ds-color-main-surface-active: #d0bad6;
    //--ds-color-main-border-subtle: #cbb4d2;
    //--ds-color-main-border-default: #9c6ea8;
    //--ds-color-main-border-strong: #834b93;
    //--ds-color-main-base-default: #793c8a;
    //--ds-color-main-base-hover: #5e2f6c;
    //--ds-color-main-base-active: #46224f;
    //--ds-color-main-text-subtle: #834b93;
    //--ds-color-main-text-default: #3f1f48;
    //--ds-color-main-contrast-default: #ffffff;
    //--ds-color-main-contrast-subtle: #f6f2f7;
    //--ds-color-support-background-default: #fefefe;
    //--ds-color-support-background-subtle: #f3f3f8;
    //--ds-color-support-surface-default: #e0e2ee;
    //--ds-color-support-surface-hover: #cdd0e4;
    //--ds-color-support-surface-active: #bbbfda;
    //--ds-color-support-border-subtle: #b6bad8;
    //--ds-color-support-border-default: #727ab3;
    //--ds-color-support-border-strong: #515ca1;
    //--ds-color-support-base-default: #28358b;
    //--ds-color-support-base-hover: #3e4a97;
    //--ds-color-support-base-active: #545fa3;
    //--ds-color-support-text-subtle: #515ca1;
    //--ds-color-support-text-default: #1c2662;
    //--ds-color-support-contrast-default: #ffffff;
    //--ds-color-support-contrast-subtle: #d4d6e8;
    //--ds-global-blue-1: #fefeff;
    //--ds-global-blue-2: #edf5fa;
    //--ds-global-blue-3: #d3e5f4;
    //--ds-global-blue-4: #b7d5ed;
    //--ds-global-blue-5: #9bc5e5;
    //--ds-global-blue-6: #94c1e3;
    //--ds-global-blue-7: #2a84c8;
    //--ds-global-blue-8: #0963a8;
    //--ds-global-blue-9: #0A71C0;
    //--ds-global-blue-10: #085e9f;
    //--ds-global-blue-11: #074a7f;
    //--ds-global-blue-12: #0963a8;
    //--ds-global-blue-13: #042d4d;
    //--ds-global-blue-contrast-1: #ffffff;
    //--ds-global-blue-contrast-2: #edf5fa;
    //--ds-global-green-1: #fcfefc;
    //--ds-global-green-2: #edf6ee;
    //--ds-global-green-3: #d1e9d4;
    //--ds-global-green-4: #b5dbba;
    //--ds-global-green-5: #96cd9e;
    //--ds-global-green-6: #8fc997;
    //--ds-global-green-7: #1c922d;
    //--ds-global-green-8: #057114;
    //--ds-global-green-9: #068718;
    //--ds-global-green-10: #057014;
    //--ds-global-green-11: #045a10;
    //--ds-global-green-12: #057114;
    //--ds-global-green-13: #023409;
    //--ds-global-green-contrast-1: #ffffff;
    //--ds-global-green-contrast-2: #f9fcf9;
    //--ds-global-orange-1: #fffefe;
    //--ds-global-orange-2: #f9f2ed;
    //--ds-global-orange-3: #f1ded3;
    //--ds-global-orange-4: #e9cbb8;
    //--ds-global-orange-5: #e1b9a0;
    //--ds-global-orange-6: #deb296;
    //--ds-global-orange-7: #bf6732;
    //--ds-global-orange-8: #9a4918;
    //--ds-global-orange-9: #B8581D;
    //--ds-global-orange-10: #984918;
    //--ds-global-orange-11: #7a3b13;
    //--ds-global-orange-12: #9a4918;
    //--ds-global-orange-13: #47220b;
    //--ds-global-orange-contrast-1: #ffffff;
    //--ds-global-orange-contrast-2: #fdfbf9;
    //--ds-global-purple-1: #fefefe;
    //--ds-global-purple-2: #f5f2f9;
    //--ds-global-purple-3: #e7dfef;
    //--ds-global-purple-4: #d9cce6;
    //--ds-global-purple-5: #ccbadd;
    //--ds-global-purple-6: #c7b4da;
    //--ds-global-purple-7: #946fb7;
    //--ds-global-purple-8: #794ba6;
    //--ds-global-purple-9: #663299;
    //--ds-global-purple-10: #4e2676;
    //--ds-global-purple-11: #371b53;
    //--ds-global-purple-12: #794ba6;
    //--ds-global-purple-13: #3b1d59;
    //--ds-global-purple-contrast-1: #ffffff;
    //--ds-global-purple-contrast-2: #eee8f3;
    //--ds-global-red-1: #fffefe;
    //--ds-global-red-2: #fbf1f1;
    //--ds-global-red-3: #f5dcdc;
    //--ds-global-red-4: #f0c7c7;
    //--ds-global-red-5: #eab3b3;
    //--ds-global-red-6: #e8acac;
    //--ds-global-red-7: #d15757;
    //--ds-global-red-8: #bf1b1b;
    //--ds-global-red-9: #C01B1B;
    //--ds-global-red-10: #9c1616;
    //--ds-global-red-11: #791111;
    //--ds-global-red-12: #bf1b1b;
    //--ds-global-red-13: #5a0d0d;
    //--ds-global-red-contrast-1: #ffffff;
    //--ds-global-red-contrast-2: #f7e1e1;
    //--ds-global-yellow-1: #fffefd;
    //--ds-global-yellow-2: #f9f4e2;
    //--ds-global-yellow-3: #efe2b3;
    //--ds-global-yellow-4: #e5d183;
    //--ds-global-yellow-5: #dcbf53;
    //--ds-global-yellow-6: #d9b945;
    //--ds-global-yellow-7: #957c21;
    //--ds-global-yellow-8: #725f19;
    //--ds-global-yellow-9: #D4B12F;
    //--ds-global-yellow-10: #bb9c2a;
    //--ds-global-yellow-11: #a28724;
    //--ds-global-yellow-12: #725f19;
    //--ds-global-yellow-13: #342b0c;
    //--ds-global-yellow-contrast-1: #000000;
    //--ds-global-yellow-contrast-2: #282109;
}
/*
[data-ds-theme="dark"] {
    --ds-color-accent-1: #27142d;
    --ds-color-accent-2: #33193b;
    --ds-color-accent-3: #45224e;
    --ds-color-accent-4: #582b64;
    --ds-color-accent-5: #6b357a;
    --ds-color-accent-6: #753a86;
    --ds-color-accent-7: #8f5d9e;
    --ds-color-accent-8: #cdb6d3;
    --ds-color-accent-9: #b28fbc;
    --ds-color-accent-10: #a177ad;
    --ds-color-accent-11: #915f9f;
    --ds-color-accent-12: #b492be;
    --ds-color-accent-13: #e7dcea;
    --ds-color-accent-contrast-1: #000000;
    --ds-color-accent-contrast-2: #100d10;
    --ds-color-neutral-1: #12173e;
    --ds-color-neutral-2: #171f50;
    --ds-color-neutral-3: #1f296d;
    --ds-color-neutral-4: #273489;
    --ds-color-neutral-5: #374393;
    --ds-color-neutral-6: #404c98;
    --ds-color-neutral-7: #616baa;
    --ds-color-neutral-8: #b8bcd9;
    --ds-color-neutral-9: #a3a9ce;
    --ds-color-neutral-10: #8c93c1;
    --ds-color-neutral-11: #757db5;
    --ds-color-neutral-12: #959cc6;
    --ds-color-neutral-13: #dcdeec;
    --ds-color-neutral-contrast-1: #000000;
    --ds-color-neutral-contrast-2: #1a1b20;
    --ds-color-brand1-1: #271717;
    --ds-color-brand1-2: #331e1e;
    --ds-color-brand1-3: #462828;
    --ds-color-brand1-4: #593333;
    --ds-color-brand1-5: #6c3f3f;
    --ds-color-brand1-6: #764545;
    --ds-color-brand1-7: #9f5d5d;
    --ds-color-brand1-8: #ffa7a7;
    --ds-color-brand1-9: #5c3535;
    --ds-color-brand1-10: #764545;
    --ds-color-brand1-11: #925454;
    --ds-color-brand1-12: #e28383;
    --ds-color-brand1-13: #ffd4d4;
    --ds-color-brand1-contrast-1: #ffffff;
    --ds-color-brand1-contrast-2: #e0d8d8;
    --ds-color-brand2-1: #1d1c11;
    --ds-color-brand2-2: #262416;
    --ds-color-brand2-3: #34311e;
    --ds-color-brand2-4: #423e26;
    --ds-color-brand2-5: #514c2f;
    --ds-color-brand2-6: #585333;
    --ds-color-brand2-7: #777045;
    --ds-color-brand2-8: #ccbf77;
    --ds-color-brand2-9: #15130c;
    --ds-color-brand2-10: #262416;
    --ds-color-brand2-11: #393521;
    --ds-color-brand2-12: #aa9e62;
    --ds-color-brand2-13: #f0e08b;
    --ds-color-brand2-contrast-1: #ffffff;
    --ds-color-brand2-contrast-2: #a0a09d;
    --ds-color-brand3-1: #1b1b1b;
    --ds-color-brand3-2: #242424;
    --ds-color-brand3-3: #303030;
    --ds-color-brand3-4: #3e3e3e;
    --ds-color-brand3-5: #4b4b4b;
    --ds-color-brand3-6: #525252;
    --ds-color-brand3-7: #6f6f6f;
    --ds-color-brand3-8: #bebebe;
    --ds-color-brand3-9: #0b0b0b;
    --ds-color-brand3-10: #1d1d1d;
    --ds-color-brand3-11: #2e2e2e;
    --ds-color-brand3-12: #9e9e9e;
    --ds-color-brand3-13: #dfdfdf;
    --ds-color-brand3-contrast-1: #ffffff;
    --ds-color-brand3-contrast-2: #989898;
}
[data-ds-theme="contrast"] {
    --ds-color-accent-1: #060306;
    --ds-color-accent-2: #1c0e1f;
    --ds-color-accent-3: #33193b;
    --ds-color-accent-4: #45224e;
    --ds-color-accent-5: #582b64;
    --ds-color-accent-6: #a67db1;
    --ds-color-accent-7: #bea1c7;
    --ds-color-accent-8: #d8c6dd;
    --ds-color-accent-9: #b28fbc;
    --ds-color-accent-10: #a177ad;
    --ds-color-accent-11: #915f9f;
    --ds-color-accent-12: #d3c0d9;
    --ds-color-accent-13: #f3eef5;
    --ds-color-accent-contrast-1: #000000;
    --ds-color-accent-contrast-2: #100d10;
    --ds-color-neutral-1: #030409;
    --ds-color-neutral-2: #0c112b;
    --ds-color-neutral-3: #171f50;
    --ds-color-neutral-4: #1f296d;
    --ds-color-neutral-5: #273489;
    --ds-color-neutral-6: #8188bb;
    --ds-color-neutral-7: #a3a9ce;
    --ds-color-neutral-8: #c7cbe1;
    --ds-color-neutral-9: #a3a9ce;
    --ds-color-neutral-10: #8c93c1;
    --ds-color-neutral-11: #757db5;
    --ds-color-neutral-12: #c1c5de;
    --ds-color-neutral-13: #eff0f6;
    --ds-color-neutral-contrast-1: #000000;
    --ds-color-neutral-contrast-2: #1a1b20;
    --ds-color-brand1-1: #060303;
    --ds-color-brand1-2: #1c1010;
    --ds-color-brand1-3: #331e1e;
    --ds-color-brand1-4: #462828;
    --ds-color-brand1-5: #593333;
    --ds-color-brand1-6: #c77474;
    --ds-color-brand1-7: #f48e8e;
    --ds-color-brand1-8: #ffbbbb;
    --ds-color-brand1-9: #5c3535;
    --ds-color-brand1-10: #764545;
    --ds-color-brand1-11: #925454;
    --ds-color-brand1-12: #ffb3b3;
    --ds-color-brand1-13: #ffebeb;
    --ds-color-brand1-contrast-1: #ffffff;
    --ds-color-brand1-contrast-2: #e0d8d8;
    --ds-color-brand2-1: #040403;
    --ds-color-brand2-2: #15130c;
    --ds-color-brand2-3: #262416;
    --ds-color-brand2-4: #34311e;
    --ds-color-brand2-5: #423e26;
    --ds-color-brand2-6: #958c57;
    --ds-color-brand2-7: #b8ab6b;
    --ds-color-brand2-8: #dbcd7f;
    --ds-color-brand2-9: #15130c;
    --ds-color-brand2-10: #262416;
    --ds-color-brand2-11: #393521;
    --ds-color-brand2-12: #d5c77c;
    --ds-color-brand2-13: #fff2af;
    --ds-color-brand2-contrast-1: #ffffff;
    --ds-color-brand2-contrast-2: #a0a09d;
    --ds-color-brand3-1: #040404;
    --ds-color-brand3-2: #131313;
    --ds-color-brand3-3: #242424;
    --ds-color-brand3-4: #303030;
    --ds-color-brand3-5: #3e3e3e;
    --ds-color-brand3-6: #8b8b8b;
    --ds-color-brand3-7: #ababab;
    --ds-color-brand3-8: #cbcbcb;
    --ds-color-brand3-9: #0b0b0b;
    --ds-color-brand3-10: #1d1d1d;
    --ds-color-brand3-11: #2e2e2e;
    --ds-color-brand3-12: #c6c6c6;
    --ds-color-brand3-13: #f1f1f1;
    --ds-color-brand3-contrast-1: #ffffff;
    --ds-color-brand3-contrast-2: #989898;
}
*/