<!-- begin login_stage_header.twig -->
<tr class="th">
    <td colspan="2">
        &nbsp;<b>Setup/Config Admin Login</b>
    </td>
</tr>
<tr class="row_on">
    <td colspan="2" class="feedback">{{ ConfigLoginMSG }}</td>
</tr>
<tr class="row_on">
    <td colspan="2">
        <form action="index.php" method="POST" name="config">
        {% if multi_domain %}
        <table>
        <tr>
            <td>
                Domain: 
            </td>
            <td>
                <select name="logindomain">{{ domains }}</select>
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" name="FormPW" value="">
            </td>
        </tr>
        </table>
        {% else %}
        <input type="password" name="FormPW" value="">
        <input type="hidden" name="logindomain" value="{{ default_domain_zero }}">
        {% endif %}
{{ lang_select }}
        <input type="hidden" name="ConfigLogin" value="Login">
        <input type="submit" name="submit" value="Login">
        </form>
    </td>
</tr>
<tr class="row_on">
    <td colspan="2">&nbsp;</td>
</tr>
<!-- end login_stage_header.twig -->