@import "../../../../styles/colors";
@import "../../../../styles/util.module";


.resourceToggleContainer {
    grid-area: filter;


    @include tablet {
        border: 1px solid #ccc;
        overflow-y: auto;
        //margin-bottom: 20px;
        margin-top: -0.875rem;
        box-sizing: border-box;
        border-top: none;
        border-radius: 0;
        opacity: 1;
        transition: opacity 0.2s;
        min-width: 300px;
        max-width: 300px;
        &.transparent {
            opacity: 0;
        }
        &.hidden {
            //border: 5px;
            display: none;
        }

    }



    //@include mobile {
    //    display: none;
    //}
}

.toggleAllContainer {
    padding: 10px 8px;
    //position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.toggleAllButton {
    width: 100%;
    padding: 5px;
    //background-color: #f0f0f0;
    //border: 1px solid #ccc;
    //border-radius: 4px;
    //cursor: pointer;
    //
    //&:hover {
    //  background-color: #e0e0e0;
    //}
}

.resourceItem {
    user-select: none;
    display: flex;
    align-items: center;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;

    &.active {
        background-color: $purple-8;
    }

    &:last-child {
        border-bottom: none;
    }
}

.resourceCheckbox {
    //margin-right: 10px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    > input {
        min-width: var(--dsc-checkbox-size);
        margin-left: 5px;
        margin-right: 5px;
    }
    > label {
        flex-grow: 1;
        overflow: hidden;
        min-width: unset;

        > span {
            flex-grow: 1;
            overflow: hidden;
        }
    }
}

.resourceLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;
    flex-grow: 1;
    overflow: hidden;
    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        flex-grow: 1;
        overflow: hidden;
        span {
            overflow: hidden;

            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }

}

