@import "../../../../../styles/colors";
@import "../../../../../styles/util.module";

.event {
    color: $black;
    display: flex;
    width: 100%;
    flex-direction: column;

    gap: 5px;

    &.shortEvent {
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        flex-direction: row;
    }

    &.mediumEvent {
        gap: 0.125rem;
    }

    &.longEvent {
        gap: 0.5rem
    }

    &.listEvent {
        display: grid;
        grid-template-areas: "time title resources organizer to_time";
        grid-template-columns: 6.5rem 1fr 7rem 1fr 6.5rem;
        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &.allDayEvent {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        //grid-template-areas: "time title resources organizer to_time";
        //grid-template-columns: 6.5rem 1fr 7rem 1fr 6.5rem;
        grid-template-areas: "time";
        grid-template-columns: 6.5rem;
        .joined_time, .joined_date {
            display: flex;
            grid-area: time;
            align-items: center;

        }
        .time, .to_time, .title, .organizer, .resourceIcons, .joined_time {
            display: none;
            align-items: center;
        }
        .titleDivider, .organizerDivider, .resourceIconsDivider {
            display: none;
            align-items: center;
        }

        @container (min-width: 12rem) {
            grid-template-areas: "time resources";
            grid-template-columns: 6.5rem auto;
            .joined_date, .resourceIcons, .resourceIconsDivider {
                display: flex;
            }
        }
        @container (min-width: 20rem) {
            grid-template-areas: "time title resources";
            grid-template-columns: 6.5rem 1fr 7rem;
            .title, .titleDivider {
                display: flex;
            }
        }
        @container (min-width: 27rem) {
            grid-template-areas: "time title resources organizer";
            grid-template-columns: 9rem auto 7rem auto;
            .joined_date {
                display: none;
            }
            .joined_time, .organizer, .organizerDivider {
                display: flex;
            }
        }
        //@container (min-width: 15rem) {
        //    grid-template-areas: "time title resources organizer to_time";
        //    grid-template-columns: 6.5rem 1fr 7rem 1fr 6.5rem;
        //    //background-color: red;
        //    //color: red!important;
        //}
    }

    .participantLimit {
        display: flex;
        gap: 0.5em;
        align-items: center
    }

    .colorCircles {
        display: flex;
        align-items: center;
        gap: 0.25em
    }

    .colorCircle {
        margin-right: 2px;
    }

    .remainingCount {
        font-size: 0.8em;
        margin-left: 2px;
    }


    .time {
        grid-area: time;
        display: flex;
        gap: 0.5em;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
    }


    .to_time {
        display: flex;
        gap: 0.5em;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        grid-area: to_time;
    }

    .title {
        display: inline-block;
        max-width: 100%; /* Ensure the span does not exceed its container */
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Add the ellipsis */
        vertical-align: middle; /* Align the text vertically */
        //flex-shrink: 1; /* Allow the text to shrink if necessary */
        //flex-grow: 1; /* Grow to fill available space */
        min-width: 0; /* Ensures the ellipsis works in flexbox */
        font-weight: 500;
    }

    .organizer {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        gap: 0.5rem;
    }

    .orderNumber {
        overflow: hidden;
        white-space: nowrap;
    }

    .resourceIcons {
        display: flex;
        gap: 0.5em;
        align-items: center;

    }
}
