@import "../../../../../styles/colors";
@import "../../../../../styles/util.module";

.event {
    color: $black;
    display: flex;
    width: 100%;
    flex-direction: column;

    gap: 5px;

    &.shortEvent {
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        flex-direction: row;
    }

    &.mediumEvent {
        gap: 0.125rem;
    }

    &.longEvent {
        gap: 0.5rem
    }

    &.listEvent {
        display: grid;
        grid-template-areas: "time title resources organizer";
        grid-template-columns: 2fr 4fr 2fr 3fr;
        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    .participantLimit {
        display: flex;
        gap: 0.5em;
        align-items: center
    }

    .colorCircles {
        display: flex;
        align-items: center;
        gap: 0.25em
    }

    .colorCircle {
        margin-right: 2px;
    }

    .remainingCount {
        font-size: 0.8em;
        margin-left: 2px;
    }


    .time {
        display: flex;
        gap: 0.5em;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
    }

    .title {
        display: inline-block;
        max-width: 100%; /* Ensure the span does not exceed its container */
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Add the ellipsis */
        vertical-align: middle; /* Align the text vertically */
        //flex-shrink: 1; /* Allow the text to shrink if necessary */
        //flex-grow: 1; /* Grow to fill available space */
        min-width: 0; /* Ensures the ellipsis works in flexbox */
        font-weight: 500;
    }

    .organizer {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .orderNumber {
        overflow: hidden;
        white-space: nowrap;
    }

    .resourceIcons {
        display: flex;
        gap: 0.5em;
        align-items: center;

    }
}
