@import "../../styles/colors";
@import "../../styles/util.module";

.dialogContainer {
    background-color: $grey-24;
    display: flex;
    flex-direction: column;
    width: 100%;
    .dialogHeader {
        background-color: $grey-24;
        position: sticky;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 4px;
        margin-bottom: 4px;
        top: 0;
        z-index: 1000;
        transition: box-shadow 0.3s ease;
        &.scrolled {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .dialogContent {
        flex-grow: 1;
        overflow-y: auto;
    }
}

.modal {
    position: fixed;
    z-index: 9999;
    background-color: $grey-24;
    padding: 0;
    margin: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }

    @include mobile {
        min-width: 100vw;
        min-height: 100vh;
        transform: translateY(100%);
    }

    @include tablet {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        max-width: 90vw;
        max-height: 90vh;
        border-radius: 8px;
        min-width: 640px;
        min-height: 480px;
    }
    &.hd {
        @include tablet {
            width: 1024px;
            height: 960px;
        }
    }
}

.show {
    pointer-events: all;
    opacity: 1;

    @include mobile {
        transform: translateY(0);
    }

    @include tablet {
        transform: translate(-50%, -50%) scale(1);
    }
}