@import '../../../styles/colors';
@import '../../../styles/effects/effects';
@import '../../../styles/util.module';
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $box-shadow-large;
    background: $white;

    padding: 0rem 0.5rem;
    margin-bottom: 1rem;
    min-height: 67px;


    @include desktop {
        min-height: unset;

        margin-top: 2rem;
        padding: 1rem 2rem;
        border-radius: $rounded-large;


    }

    //margin-bottom: 2rem;
    //margin-top: 3rem;
    //@include mobile {
    //    margin-top: 0;
    //}
    .logo {
        display: flex;
        .logoImg {
            width: 100%;
            flex: none;
            max-width: 12rem;

            @include tablet {
                display: none;
            }

            &.logoImgDesktop {
                display: none;
                max-width: 5rem;

                @include tablet {
                    display: flex;
                }
            }
        }
    }

    &__section {
        display: flex;
        flex: 1;
        align-items: center;

        &--right {
            justify-content: end;
        }

        &__language-selector {
            margin-right: 1.5rem;
            display: flex;
            align-items: center;

            .icon {
                margin-left: 0.5rem;
            }
        }

        &__links {
            display: flex;
            margin-bottom: 0;

            li {
                margin-right: 2.75rem;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}