name: Validate Docker Compose Build

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    docker-compose-build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Docker
              uses: docker/setup-buildx-action@v2

            - name: Validate Docker Compose File
              run: docker compose config
#              working-directory: ./ # Update this if your file is in a subdirectory

            - name: Build Docker Compose Services
              run: docker compose build --no-cache
#              working-directory: ./ # Update this if your file is in a subdirectory
